@page
@model EpamRazorPages.Pages.OrdersModel

@{
    ViewData["Title"] = "Заказы";
}

<h3>Создать заказ</h3>

<form method="post" asp-page-handler="Add" class="form-horizontal" role="form">
    <p>Для оформления заказа заполните следующие поля:</p>
    <div class="form-group">
        <label for="UserName" class="col-md-2 control-label">ФИО:</label>
        <div class="col-md-4">
            <input type="text" name="UserName" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label for="ContactNumber" class="col-md-2 control-label">Телефон:</label>
        <div class="col-md-4">
            <input type="text" name="ContactNumber" class="form-control" />
        </div>
    </div>
        <div class="form-group">
        <label for="FromLocation" class="col-md-2 control-label">Откуда:</label>
        <div class="col-md-4">
            <input type="text" name="FromLocation" class="form-control" />
        </div>
    </div>
        <div class="form-group">
        <label for="ToLocation" class="col-md-2 control-label">Куда:</label>
        <div class="col-md-4">
            <input type="text" name="ToLocation" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Отправить" />
        </div>
    </div>
</form>

<h1>Список заказов</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                ФИО
            </th>
            <th>
                Дата создания заказа
            </th>
            <th>
                Время подачи авто
            </th>
            <th>
                Откуда
            </th>
            <th>
                Куда
            </th>
            <th>
                Стоимость
            </th>
            <th>
                Статус
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Order) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarDeliveryTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-page-handler="Delete" asp-route-id="@item.OrderId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>

