@page "/"
@model EpamRazorPages.Pages.OrdersModel

@{
    ViewData["Title"] = "Заказы";
}
<p><a asp-page="Create">Добавить</a></p>
<h1>Список заказов</h1>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th style="width:10%">
                    ФИО
                </th>
                <th style="width:10%">
                    Номер телефона
                </th>
                <th style="width:10%">
                    Дата создания заказа
                </th>
                <th style="width:10%">
                    Время подачи авто
                </th>
                <th style="width:10%">
                    Откуда
                </th>
                <th style="width:10%">
                    Куда
                </th>
                <th style="width:10%">
                    Цена
                </th>
                <th style="width:10%">
                    Статус
                </th>
                <th style="width:10%"></th>
                <th style="width:10%"></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model.Order) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.ContactNumber)
                </td>
                <td>
                    <time>@Html.DisplayFor(modelItem => item.OrderDate)</time>
                </td>
                <td>
                    <time>@Html.DisplayFor(modelItem => item.CarDeliveryTime)</time>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FromLocation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToLocation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <form method="post" action="/api/orders/cancel">
                        <button type="submit" name="orderId" value="@item.OrderId" class="btn btn-link p-0 pb-5">
                            Отменить
                        </button>
                    </form>
                </td>
                <td>
                    <form method="post" action="/api/orders/delete">
                        <button type="submit" name="orderId" value="@item.OrderId" class="btn btn-link p-0 pb-5">
                            Удалить
                        </button>
                    </form>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>

@section Scripts{
<script type="text/javascript">
    $("time").each(function (elem) {
        var utctimeval = $(this).html();
        var date = new Date(utctimeval);
        if (isNaN(date))
        {
            $(this).html("");
            return;
        }
        var datestring = ("0" + date.getDate()).slice(-2) + "/" + ("0"+(date.getMonth()+1)).slice(-2) + "/" + date.getFullYear() + " " +
            ("0" + date.getHours()).slice(-2) + ":" + ("0" + date.getMinutes()).slice(-2);
        $(this).html(datestring);
})
</script>
}